<!--<app-header></app-header><br />
<div class="container" style="min-height:200px!important; font-size:18px!important">
  <router-outlet>
    <ngx-loading-bar [color]="'white'"></ngx-loading-bar>
  </router-outlet>
</div>
<app-footer></app-footer>-->
  <div class="page-wrapper chiller-theme toggled">
    <app-header></app-header>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        <router-outlet>
          <ngx-loading-bar [color]="'white'"></ngx-loading-bar>
        </router-outlet>
      </div>
    </main>
    <!-- page-content" -->
    <app-footer></app-footer>
  </div>
