<div class="container">
  <br />
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Customer
  </button>
  <div class="form-group">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md- pull-right">
        <input type="text" placeholder="enter to search"
               [(ngModel)]="search" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let customer of customerList | filter:search | paginate: { itemsPerPage: 20, currentPage: p }">
          <!--| filter:search | paginate: { itemsPerPage: 5, currentPage: p }">-->
          <td>{{customer.id}}</td>
          <td>{{customer.customerName}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.phoneNumber}}</td>
          <td>{{customer.address}}</td>
          <td>

            <span (click)="getCustomerbyId(customer.id)" style="cursor:pointer;text-decoration:underline" data-toggle="modal" data-target="#myModal">Edit</span> |
            <span (click)="deleteCustomer(customer.id)" style="cursor:pointer;text-decoration:underline">Delete</span>
          </td>
        </tr>

      </tbody>
    </table>
    <ul class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>
  </div>

</div>

<!-- The Modal -->
<form [formGroup]="postCustomerForm" (ngSubmit)="onSubmit(buttonType)" novalidate>
  <!--<form [formGroup]="postCustomerForm" (ngSubmit)="postCustomer()" novalidate>-->

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 *ngIf="!customer.id" class="modal-title">Create New Customer</h4>
          <h4 *ngIf="customer.id" class="modal-title">Update Customer</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="Enter Name" formControlName="customerName" [(ngModel)]="customer.customerName">
              <div *ngIf="customerName.touched && customerName.invalid" class="alert alert-danger">
                Name is required
              </div>

            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Enter Email" formControlName="email" [(ngModel)]="customer.email">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                Email is required.
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Enter Phone Number" formControlName="phoneNumber" [(ngModel)]="customer.phoneNumber">
              <div *ngIf="phoneNumber.touched && phoneNumber.invalid" class="alert alert-danger">
                Phone Number is required.
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Enter Address" formControlName="address" [(ngModel)]="customer.address"> </textarea>
              <div *ngIf="address.touched && address.invalid" class="alert alert-danger">
                Address is required.
              </div>
            </div><div class="form-group">
              <label>Upload Your Profile Pic (200x200)px</label>
              <input type="file" class="form-control-file" (change)="upload($event.target.files)" name="profilePic">
            </div>
            <!--<div>
              <img [src]="imageToShow" class="rounded-circle" style="width:200px;height:200px!important">
            </div>-->

          </fieldset>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button data-dismiss="modal" *ngIf="!customer.id" type="button" [disabled]="postCustomerForm.invalid"
                  (click)="onSubmit('Create')" class="btn btn-primary">
            Create
          </button>
          <button data-dismiss="modal" *ngIf="customer.id" type="button" [disabled]="postCustomerForm.invalid"
                  (click)="onSubmit('Update')" class="btn btn-primary">
            Update
          </button>
          <!--<button class="btn btn-primary" [disabled]="postCustomerForm.invalid" type="submit">Create</button>-->

          <button type="button" click="resetForm()" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</form>
